{% extends 'appEntrega/base.html' %}

{% load static %}

{% block titulo %}
Confirmacion
{% endblock titulo %}

{% block main %}

<html lang="en">
    <head>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <ul class="list-unstyled list-hours mx-auto">
                                <li class="list-hours-item mb-0"></li>
                                <pr class="text-upper">Se agrego con exito!</pr>
                                <li class="list-hours-item"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

{% endblock main %}
