{% extends 'appEntrega/base.html' %}

{% load static %}

{% block titulo %}
Agregar auto
{% endblock titulo %}

{% block main %}

<a id="scroll"></a>
<div class="site-heading text-center text-faded d-none d-lg-block">
    <span class="site-heading-upper texto-form mb-3">Agregar Auto</span>
    <div class="cuadrado">
        <form class="formulario" action="" method="POST">
            {% csrf_token %}
            <br>
            <table>
                <div  class="formulario1">{{ formulario.as_p }}</div>

            </table>

                <input class="Boton" type = "submit" value="Guardar">
                <br>
        </form>
    </div>
</div>

{% endblock main %}