{% extends 'appEntrega/base.html' %}

{% load static %}

{% block titulo %}
Cerrar Sesión
{% endblock titulo %}

{% block main %}

<html lang="en">
    <head>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading">
                                <span id="scroll" class="section-heading-lower">¡Hasta luego! Sesión cerrada con éxito</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

{% endblock main %}
