{% extends 'appEntrega/base.html' %}

{% load static %}
{% load custom_filters %}

{% block titulo %}
Trabajos
{% endblock titulo %}

{% block main %}

<html lang="en">
        <section class="page-section">
            <div class="container">
                <div class="product-item-title">
                    {% if user.is_staff %}
                    <div class="boton-container">
                    <a class="post-boton" href="{% url 'Publicar' %}#scroll">Nueva publicacion</a>
                    </div>
                    {% endif %}
                    {% for post in posts %}
                    <div class="margen-post bg-faded p-5">
                        <h2 class="post-titulo">{{ post.title }}</h2>
                        <img class="post-imagen" src="{{ post.image.url }}" alt="Imagen del post">
                        <div class="post-contenido">{{ post.content }}</div>
                        <i></i>
                        <p class="post-fecha">
                            <time data-time="#">{{ post.timestamp|formato_tiempo }}</time>
                        </p>
                        <h2 class="post-user">{{ post.user.username }}</h2>
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </body>
</html>

{% endblock main %}