{% extends 'appEntrega/base.html' %}

{% load static %}

{% block titulo %}
Servicio
{% endblock titulo %}

{% block main %}

<html lang="en">
        <section class="page-section">
            <div class="container">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex rounded"> 
                        <h2 class="mb-0"> 
                            <span class="section-heading-upper">¡Bienvenido a nuestro taller mecánico de confianza!</span>
                            <div>
                                <ul>
                                    <li class="section-heading-parrafo">
                                        Mantenimiento preventivo: Realizamos revisiones periódicas para garantizar el buen funcionamiento de tu vehículo.</li>
                                    <li class="section-heading-parrafo">
                                        Reparaciones generales: Nos encargamos de todo tipo de reparaciones mecánicas, desde el sistema de frenos y suspensión hasta la transmisión y el motor.</li>
                                    <li class="section-heading-parrafo">
                                        Diagnóstico de problemas: Utilizamos herramientas y equipos de última generación para realizar diagnósticos precisos de cualquier problema que pueda presentar tu automóvil.</li>
                                    <li class="section-heading-parrafo">
                                        Reparación de sistemas eléctricos: Si tu vehículo presenta problemas con el sistema eléctrico, nuestro equipo de expertos puede solucionar cualquier inconveniente.</li>
                                    <li class="section-heading-parrafo">
                                        Servicio de neumáticos: Realizamos el balanceo, alineación y cambio de neumáticos para asegurar un manejo seguro y óptimo.</li>
                                    <li class="section-heading-parrafo">
                                        Sistemas de escape: Nos encargamos de la reparación y reemplazo de sistemas de escape, incluyendo el catalizador, silenciadores y tuberías de escape.</li>
                                    <li class="section-heading-parrafo">
                                        Servicio de frenos: Ofrecemos inspección, reparación y reemplazo de frenos para garantizar un frenado seguro y eficiente.</li>
                                    <li class="section-heading-parrafo">
                                        Servicio de aire acondicionado: Si tu sistema de aire acondicionado no funciona correctamente, nuestro equipo puede diagnosticar y reparar cualquier problema.</li>
                                </ul>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

{% endblock main %}